audio {
  /*display: none !important;*/
}

#cover-photo {
  height: auto;
  width: 100%;
}

.albumcover {
  margin-left: 340px !important;
  margin-top: 30px !important;
}

.shrinkit {
  margin-left: -25px !important;
  margin-top: 0 !important;
  transition: all 1s ease;
}

.shrinkit .col-3 {
  max-width: 35%;
  transition: all 1s ease;
}

.shrinkit h1 {
  font-size: 35px;
  transition: all 1s ease;
  margin-top: 0 !important;
  margin-bottom: 12px !important;
}

.shrinkit h2 {
  font-size: 30px;
  transition: all 1s ease;
  margin-top: 0 !important;
  margin-bottom: 12px !important;
}

.shrinkit h3 {
  font-size: 30px;
  transition: all 1s ease;
  margin-top: 0 !important;
  margin-bottom: 6px !important;
}

.shrinkit h4 {
  font-size: 25px;
  transition: all 1s ease;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.shrinkit h5 {
  font-size: 30px;
  transition: all 1s ease;
  margin-top: 0 !important;
  margin-bottom: 12px !important;
  color: #95F26F;
}

.shrinkit h6 {
  font-size: 25px;
  transition: all 1s ease;
  margin-top: 0 !important;
  margin-bottom: 12px !important;
  color: #95F26F;
}

.shrinkit p {
  font-size: 17.5px;
  transition: all 1s ease;
  margin-top: 0 !important;
  margin-bottom: 6px !important;
  color: #95F26F;
}

.m-t-sm {
  margin-top: 20px;
}

.m-t-md {
  margin-top: 30px;
}

.m-t-l {
  margin-top: 50px;
}

.m-t-xl {
  margin-top: 80px;
}

#lyrics {
  font-size: 3em;
  color: #ffffff;
  /* font-family: 'Nanum Pen Script', cursive; */
  font-family: inherit, sans-serif;
  position: absolute;
  top: 0;
  bottom: 183px;
  left: 154px;
  right: 0;
  margin: auto 5.2em;
  width: 1000px;
  height: 100px;

}

@media only screen and (min-width: 1824px) {
  #lyrics {
    left:12em;
  }
}

.row {
  width: 104% !important;
}

.col-3 {
  margin-left: -100px;
  padding-right: 25px;
}

/*DISAPPEAR*/

.big-f {
  font-size: 22px;
  color: #212121;
}

.med-f {
  font-size: 17px;
  color: #212121;
}

.small-f {
  font-size: 15px;
  color: #212121;
}

#margin-button {
  margin: 1em 40px! important;
}

.middle {
    vertical-align: middle;
    text-align:center;
    position:relative; /*makes left effective*/
    
}

.middle h4 {
  font-size: 1.7em;
}

.middle img {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: 17.5em;
  width: auto;
  margin-bottom: 20px;
}

.green {
  color: #95F26F;
}

a .green {
  line-height: 50px;
  font-size: 17pt;
}

.header-button-location {
  float: right;
  margin: -34px 38px 0 0 !important;
  width: 100%;
   height: 100%;
   /*position: absolute;*/
   box-sizing: border-box;
   border: 5px solid #95F26F;
   font-family: 'Source Sans Pro', sans-serif;
   text-align: center;
}