audio {
  display: none !important;
}

#cover-photo {
  height: auto;
  width: 100%;
}

.albumcover {
  margin-left: 340px !important;
  margin-top: 30px !important;
}

.shrinkit {
  margin-left: -25px !important;
  margin-top: 0 !important;
  transition: all 0.8s ease;
}

.shrinkit .col-3 {
  max-width: 35%;
  transition: all 0.8s ease;
}

.shrinkit h1 {
  font-size: 35px;
  transition: all 0.8s ease;
  margin-top: 0 !important;
  margin-bottom: 12px !important;
}

.shrinkit h2 {
  font-size: 30px;
  transition: all 0.8s ease;
  margin-top: 0 !important;
  margin-bottom: 12px !important;
}

.shrinkit h3 {
  font-size: 30px;
  transition: all 0.8s ease;
  margin-top: 0 !important;
  margin-bottom: 6px !important;
}

.shrinkit h4 {
  font-size: 25px;
  transition: all 0.8s ease;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-t-l {
  margin-top: 50px;
}

#lyrics {
  font-size: 5em;
  color: #ffffff;
  /* font-family: 'Nanum Pen Script', cursive; */
  font-family: inherit, sans-serif;
  position: absolute;
  top: 0;
  bottom: 150px;
  left: 0;
  right: 0;
  margin: auto 5.2em;
  width: 1000px;
  height: 100px;

}

.row {
  width: 113% !important;
}

.col-3 {
  margin-left: -100px;
  padding-right: 25px;
}
