audio {
  display: none !important;
}

#map {
  height: 110%;
}

.middle {
    vertical-align: middle;
    text-align:center;
    position:relative; /*makes left effective*/
    
}

/* Recommended Artists  */
.recArtists {
  margin-left: 40px;
}

.artist-center {
  text-align: center;
}

.artistOne {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}

.artistOne img {
  height: auto;
  width: auto;
  max-width:100%;
}

.centeredOne img {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.artistTwo {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}

.artistTwo img {
  height: auto;
  width: auto;
  max-width:100%;
}

.centeredTwo img {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.artistThree {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.artistThree img {
  height: auto;
  width: auto;
  max-width:100%;
}

.centeredThree img {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.container {
  margin-top: 50px;
}

#cover-photo {
  height: auto;
  width: 80%;
}

.albumcover {
  margin-left: 340px !important;
  margin-top: 30px !important;
}

.row {
  width: 113% !important;
}

.col-3 {
  margin-left: -100px;
  padding-right: 25px;
}

#green {
  color: #95F26F;
}

.text-center {
  text-align: center;
}


