audio {
  display: none !important;
}

#map {
  height: 126%;
}

/* Recommended Artists  */
.recArtists {
  margin-left: 40px;
}

.artist-center {
  text-align: center;
}

.artistOne {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}

.artistOne img {
  height: auto;
  width: auto;
  max-width:100%;
}

.centeredOne img {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.artistTwo {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}

.artistTwo img {
  height: auto;
  width: auto;
  max-width:100%;
}

.centeredTwo img {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.artistThree {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.artistThree img {
  height: auto;
  width: auto;
  max-width:100%;
}

.centeredThree img {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.container {
  margin-top: 50px;
}

#cover-photo {
  height: auto;
  width: 80%;
}

.albumcover {
  margin-left: 340px !important;
  margin-top: 30px !important;
}

.shrinkit {
  margin-left: -25px !important;
  margin-top: 0 !important;
  transition: all 0.8s ease;
}

.shrinkit .col-3 {
  max-width: 35%;
  transition: all 0.8s ease;
}

.shrinkit h1 {
  font-size: 35px;
  transition: all 0.8s ease;
  margin-top: 0 !important;
  margin-bottom: 12px !important;
}

.shrinkit h2 {
  font-size: 30px;
  transition: all 0.8s ease;
  margin-top: 0 !important;
  margin-bottom: 12px !important;
}

.shrinkit h3 {
  font-size: 30px;
  transition: all 0.8s ease;
  margin-top: 0 !important;
  margin-bottom: 6px !important;
}

.shrinkit h4 {
  font-size: 25px;
  transition: all 0.8s ease;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-t-l {
  margin-top: 50px;
}

.row {
  width: 113% !important;
}

.col-3 {
  margin-left: -100px;
  padding-right: 25px;
}

/*BUTTON ANIMATED*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
 figure {
   width: 200px;
   height: 60px;
   cursor: pointer;
   perspective: 500px;
   -webkit-perspective: 500px;
   /*margin-right: auto !important;
   margin-left: auto !important;
   margin-top: 40px !important; */
   margin: intial !important;
}
 figure div {
   height: 100%;
   transform-style: preserve-3d;
   -webkit-transform-style: preserve-3d;
   transition: 0.25s;
   -webkit-transition: 0.25s;
}
 figure:hover div {
   transform: rotateX(-90deg);
}
 span {
   width: 100%;
   height: 100%;
   position: absolute;
   box-sizing: border-box;
   border: 5px solid #EA5BD8;
   font-family: 'Source Sans Pro', sans-serif;
   line-height: 50px;
   font-size: 17pt;
   text-align: center;
   text-transform: uppercase;
}
 span:nth-child(1) {
   color: #EA5BD8;
   transform: translate3d(0, 0, 30px);
   -webkit-transform: translate3d(0, 0, 30px);
}
 span:nth-child(2) {
   color: #3e3428;
   background: #EA5BD8;
   transform: rotateX(90deg) translate3d(0, 0, 30px);
   -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}
